<div class="row">
  <div *ngFor="let league of leagues" class="col-md-6">
    <h3 class="text-center">{{ league.name }}</h3>

    <table class="table">
      <thead>
        <th>Cartoleiro</th>
        <th>Pontos</th>
        <th>Diferença</th>
      </thead>
      <tbody>
        <tr *ngFor="let player of league.players">
          <td>{{ player.name }} ( {{ player.team }} )</td>
          <td>{{ player.points}}</td>
          <td>{{ player.diff_points }}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
