  h3{
    text-align: center;
    margin-bottom: 15px;
  }
  .nickname{
    font-size: 18px;
  }
  .position{
    text-transform: uppercase;
    font-weight: 700;
    color: #a4a4a4;
  }
  .points-partial{
    font-size: 16px;
  }
