<h3> {{ partials[0].team_name}} ({{ partials[0].player_name}}) </h3>

<div class="row justify-content-md-center">
  <div class="col-md-10">
    <table class="table table-responsive">
      <thead>
        <th colspan="2" class="text-center th-player">Jogador</th>
        <th class="text-center th-points">Pontos</th>
        <th class="th-details">Detalhes</th>
      </thead>
      <tbody>
        <tr *ngFor="let partial of partials; let i = index">
          <td class="symbol pull-left td-player">
            <img src="{{partial.team_logo}}" alt="{{partial.team}}"/>
          </td>
          <td>{{partial.nickname}} <span class="captain td-points" *ngIf="partial.captain == true">(C)</span> <span class="position">({{partial.position}})</span></td>
          <td class="points-partial text-center">
            <span [ngClass]="{'negrito' : partial.captain == false}">{{ partial.points }}</span>
            <b class="captain" *ngIf="partial.captain == true && partial.points !== 'undefined'">(x2) {{ partial.points * 2 }}</b>
          </td>
          <td class="scouts">{{partial.scouts}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
