<h3> {{ partials[0].team_name}} ({{ partials[0].player_name}}) </h3>

<div class="row justify-content-md-center">
  <div class="col-md-8">
    <table class="table table-responsive table-partial">
      <thead>
        <th colspan="3">Jogador</th>
        <th class="text-center">Pontos</th>
        <th>Detalhes</th>
      </thead>
      <tbody>
        <tr *ngFor="let partial of partials; let i = index">
          <td><span class="pull-right captain" *ngIf="partial.captain == true">(C)</span></td>
          <td class="symbol pull-left">
            <img src="{{partial.team_logo}}" alt="{{partial.team}}"/>
          </td>
          <td>{{partial.nickname}} <span class="position">({{partial.position}})</span></td>
          <td class="points-partial text-center">
            <span [ngClass]="{'negrito' : partial.captain == false}">{{ partial.points }}</span>&nbsp;
            <b class="captain" *ngIf="partial.captain == true && partial.points !== 'undefined'">(x2) {{ partial.points * 2 }}</b>
          </td>
          <td class="scouts">{{partial.scouts}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
