<div class="row">
  <div *ngFor="let month of months" class="col-md-6">
    <div class="card card-title">
      <div class="card-block">
        <div class="row">
          <div class="card-text">{{ month.name }}</div>
        </div>
      </div>
    </div>
    <div class="card" *ngFor="let player of month.players; let i = index">
      <div class="card-block">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-9"><div class="position pull-left">{{ i + 1 }}</div><div class="text-center">{{ player.name }} ( {{ player.team }} )</div></div>
              <div class="col-md-2 text-center">{{ player.points | number : '1.2-2' }}</div>
              <div class="col-md-1 text-center"><a href="#collapse{{month.id}}{{i+1}}" data-toggle="collapse" aria-expanded="false"><i class="fa fa-angle-down text-center"></i></a></div>
            </div>
          </div>
        </div>
      </div>
      <div id="collapse{{month.id}}{{i+1}}" class="collapse card-footer">
        <div class="row">
          <div *ngFor="let detail of player.details" class="card col-md-4">
            <div class="card-block text-center">
              <div class="card-text">Rodada {{ detail.round }}</div>
              <div class="card-text"><b> {{ detail.points }}</b></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
