<hr class="div-row">
<section>
  <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" *ngFor="let month of months">
      <a
        (click)="setActive(month.id)"
        [ngClass]="{'active' : month.id === months[0].id}"
        class="nav-link"
        [id]="label(month.id)"
        data-toggle="pill"
        href="#pills_{{month.id}}"
        role="tab"
        [attr.aria-controls]="tag(month.id)"
        [attr.aria-expanded]="false">{{month.name}}
      </a>
    </li>
  </ul>

  <div class="tab-content" *ngFor="let month of months">
    <div
      [ngClass]="{'active show' : month.id == months[0].id}"
      class="tab-pane fade"
      [id]="tag(month.id)"
      role="tabpanel"
      [attr.aria-labelledby]="label(month.id)">
      <div *ngIf="isActive(month.id, months)">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th #th_doideira >Posição</th>
              <th>Time</th>
              <th>Pontos</th>
              <th class="text-center">Mais</th>
            </tr>
          </thead>
          <tbody *ngFor="let p of month.players; let i = index" [player]="p" [i] = "i"></tbody>
        </table>
      </div>
    </div>
  </div>

</section>
