<h1> Regras de 2017 </h1>
<div class="text-justify">
<p>
  Atenção Cartoleiros de plantão, devido ao grande sucesso da Liga Cartola PGE 2011, 2012, 2013 e 2014, 2015, 2016 repetiremos a dose este ano. A abertura do Cartola 2017 se deu no dia 02/05/2017. Fiquem atentos para começar a montagem dos seus times que a primeira rodada começa no dia 13 de maio.
</p>
<p>
  Vamos ao que interessa, as regras da Liga Cartola PGE 2017:<br/>
  A Copa da Liga Cartola PGE (imitada pela Globo com as ligas mata-mata para o Cartoleiro PRO), que foi um sucesso nos anos anteriores, será mantida este ano, onde cada pessoa da Liga enfrentará outra na rodada. Todos enfrentarão todos e estes duelos poderão se repetir dependendo do número de participantes. A tabela de confrontos será feita por sorteio, esgotando-se os confrontos, recomeçasse até se completar as 38 rodadas do campeonato.
</p>
<p>
  Se por acaso o número de participantes da Liga for ímpar, entrara o velho “Fantasma” time virtual presente apenas na Copa da Liga que nada mais é do que a média de pontos de todos os outros Participantes (menos o que disputará na rodada com o Fantasma).
  Durante o mês, você fará os confrontos com seus colegas Cartoleiros que fazem parte da Liga Cartola PGE 2017 tendo que fazer mais pontos do que ele na rodada de enfrentamento, quem vencer o confronto ganha 3 pontos, quem empatar, 1 ponto, sendo que o empate será considerado quando a diferença for menor ou igual a 5 pontos para mais ou para menos.
  Ao final do mês os 3 primeiros que somarem mais pontos entre os confrontos ganharão prêmios. O critério de desempate será a soma de todas diferenças de pontos nos confrontos durante o mês.
  A premiação em cima do Patrimônio Mensal do Cartoleiro será mantida, ou seja, todos os meses aquele que acumular mais Cartoletas em relação ao mês anterior (ou início do campeonato claro) receberá uma premiação extra, desde que este Cartoleiro não tenha ganho nenhuma outra premiação naquele mês. Aquele que estiver com poucas chances no Mês, perdeu seus confrontos na Copa da Liga, não se deu bem na Rodada Premiada, pode tentar levar um dinheirinho na premiação do Maior Patrimônio Mensal. Aumentando a distribuição democráticas dos prêmios, que é uma característica da Liga Cartola PGE em todos os seus anos de existência.
</p>
<p>
  Diante das novidades teremos 6 meses de disputa com 10 premiações mensais (com excesão de maio/junho que terá 2 rodadas premiadas totalizando 13 prêmios) além dos 3 primeiros do 1º e do 2º Turno e os 3 primeiros do Campeonato, totalizando 82 premiações diferentes durante todo o ano:
</p>
<h3> Premiações </h3>
<ul>
  <li>Serão premiados os 3 primeiros colocados do mês. 1º lugar leva 50% ; 2º lugar leva 30% ; 3º lugar leva 20% do dinheiro destinado a esta faixa de premiação.</li>
  <li>Serão premiados os 3 primeiros colocados da rodada premiada mensal. 1º lugar leva 50% ; 2º lugar leva 30% ; 3º lugar leva 20% do dinheiro destinado a esta faixa de premiação.</li>
  <li>Serão premiados os 3 primeiros colocados dos confrontos mensais da Copa da Liga. 1º lugar leva 50% ; 2º lugar leva 30% ; 3º lugar leva 20% do dinheiro destinado a esta faixa de premiação.</li>
  <li>Será premiado o que tiver o Maior Patrimônio Mensal da Liga em Cartoletas, (desde que ele não esteja entre os 3 primeiros das outras premiações) com o dinheiro destinado a esta faixa de premiação.</li>
  <li>Serão premiados os 3 primeiros no final do 1º (3º mês) e do 2º (6º mês) turno. 1º lugar leva 50% ; 2º lugar leva 30% ; 3º lugar leva 20% do dinheiro destinado a esta faixa de premiação.</li>
  <li>Serão premiados os 3 primeiros no final do campeonato. 1º lugar leva 50% ; 2º lugar leva 30% ; 3º lugar leva 20% do dinheiro destinado a esta faixa de premiação.</li>
</ul>
<p>
  A taxa será a mesma do ano passado R$ 25,00 todos os meses, exceto o mês de maio/junho que será R$ 30,00, porque este mês terão 10 rodadas então faremos 2 rodadas premiadas, justificando o acréscimo.
  As premiações serão divididas da seguinte maneira: R$ 5,00 para a rodada premiada (20% do total), R$ 5,00 para os confrontos mensais da Copa da Liga (20% do total), R$ 10,00 para a premiação mensal (40% do total), R$ 2,50 para a premiação dos turnos (10% do total), R$ 1,50 para a premiação do campeonato (6% do total) e R$ 1,00 para a premiação do Maior Patrimônio Mensal da Liga (4% do total).
</p>

<h3>Exemplo Financeiro das Premiações</h3>
<p>
  Se na Liga Cartola PGE 2017 tivermos apenas 15 participantes, então teremos R$ 375,00 no apurado mensal que serão assim divididos:
</p>
<ul>
  <li>Os campeões da Rodada Premiada – R$ 75,00 de prêmio (1º lugar leva R$ 37,50 ; 2º lugar leva R$ 22,50 ; 3º lugar leva R$ 15,00)</li>
  <li>Os campeões dos confrontos da Copa da Liga – R$ 75,00 de prêmio (1º lugar leva R$ 37,50 ; 2º lugar leva R$ 22,50 ; 3º lugar leva R$ 15,00)</li>
  <li>O campeão do Maior Patrimônio Mensal – R$ 15,00 de prêmio</li>
  <li>Os campeões do Mês – R$ 150,00 de prêmio (1º lugar leva R$ 75,00 ; 2º lugar leva R$ 45,00 ; 3º lugar leva R$ 30,00)</li>
  <li>No final do 1º turno e do 2º turno – R$ 131,25 (2 meses e meio ; 6 meses) (1º lugar leva R$ 65,63 ; 2º lugar leva R$ 39,38 ; 3º lugar leva R$ 26,25)</li>
  <li>No final do Campeonato – R$ 157,50 (7 meses) (1º lugar leva R$ 78,75 ; 2º lugar leva R$ 47,25 ; 3º lugar leva R$ 31,50)</li>
</ul>

<h3> Meses de disputa </h3>
<ul>
  <li>1º mês de disputa = maio/junho (com 10 rodadas) ; iniciando no dia 13/05/2017 e terminando no dia 24/06/2017 ; rodadas premiadas 06/06/2017 - rodada 5 e 21/06/2017 - rodada 9</li>
  <li>2º mês de disputa = julho (com 7 rodadas) ; iniciando no dia 02/07/2017 e terminando no dia 30/07/2017 ; rodada premiada 16/07/2017 rodada 14 e última rodada do mês</li>
  <li>3º mês de disputa = agosto (com 5 rodadas) ; iniciando no dia 02/08/2017 e terminando no dia 27/08/2017 ; rodada premiada 13/08/2017, rodada 20 e última rodada do mês</li>
  <li>4º mês de disputa = setembro (com 4 rodadas) ; iniciando no dia 10/09/2017 e terminando no dia 27/09/2017 ; rodada premiada 24/09/2017, rodada 25 e última rodada do mês</li>
  <li>5º mês de disputa = outubro (com 5 rodadas) ; iniciando no dia 01/10/2017 e terminando no dia 29/10/2017 ; rodadas premiadas 18/10/2017, rodada 29 e última rodada do mês</li>
  <li>6º mês de disputa = novembro (com 7 rodadas) ; iniciando no dia 05/11/2017 e terminando no dia 03/12/2017 ; rodadas premiadas 19/11/2017, rodada 36 e última rodada do mês</li>
</ul>

<h3>Mais algumas regras:</h3>
<ol>
  <li>Os inadimplentes do mês não terão direito a premiação nenhuma no mês devido.</li>
  <li>Dois meses sem pagamento (seguidos ou não) a pessoa esta desclassificada do turno na Liga Cartola PGE 2017.</li>
  <li>Os pagamentos devem ser realizados sempre até o dia 10 de cada mês (ou próximo dia útil), entregues a minha pessoa ou depositados AG:3456 CC:0037606-0 (Bradesco) ou AG:1956 OP:013 CP:00005439-1 (Caixa)</li>
  <li>Os participantes que não trabalham na PGE devem mandar seu dinheiro pelos seus padrinhos do Cartola, caso não depositem nas contas.</li>
  <li>Os participantes da Liga Cartola PGE 2017, não poderão modificar os nomes dos seus times após a primeira rodada, sob pena de desclassificação no mês, isto porque quando alguém muda o nome do time, temos que mudar em todas as tabelas, aplicativos, grupos em redes socias, ou seja, uma trabalheira danada e de certa forma sem motivos aparentes.</li>
  <li>Depois de cada rodada do campeonato que tiver premiação (rodada premiada, copa da liga, maior patrimônio de cartoletas, final de mês, turno ou campeonato), os prêmios só serão entregues depois de uma semana, dando tempo ao Cartola anunciar se existe ou não alguma regeneração nos dados.</li>
  <li>As escalações dos times dos participantes da Liga Cartola PGE 2017, não podem possuir mais de 75% (10 ou mais jogadores) dos seus jogadores iguais as escalações dos sites de ajuda ao Cartola, sob pena de serem desclassificados da rodada em questão.</li>
  <li>Qualquer nova regra deverá ter maioria de votos dos participantes para poder entrar em vigor.</li>
</ol>
<p>
  Abraços a todos e boa sorte!
</p>
</div>
