h3{
  text-align: center;
  margin-bottom: 10px;
}

@media(max-width: 750px){
  .score{
    vertical-align: middle;
    margin-top: 20px;
    font-size: 18px;
  }
  .card{
    cursor: pointer;
    margin-bottom: 5px;
  }

  .position-text{
    margin-top: 20px;
    font-size: 20px;
  }
  img{
    margin-top: 10px;
    width: 50px;
    height: 50px;
  }
  .text-name{
    font-size: 14px;
  }
  .players{
    font-size: 10px;
  }
}

@media(min-width: 750px) and (max-width: 975px){
  .score{
    vertical-align: middle;
    margin-top: 25px;
    font-size: 20px;
  }
  .card{
    cursor: pointer;
    margin-bottom: 5px;
  }

  .position-text{
    margin-top: 20px;
    font-size: 25px;
  }
  img{
    margin-top: 10px;
    width: 60px;
    height: 60px;
  }
  .text-name{
    font-size: 16px;
  }
  .players{
    font-size: 13px;
  }
}

@media(min-width: 975px){
  .score{
    vertical-align: middle;
    margin-top: 20px;
    font-size: 30px;
  }
  .card{
    cursor: pointer;
    margin-bottom: 5px;
  }

  .position-text{
    margin-top: 15px;
    font-size: 36px;
  }
  img{
    width: 70px;
    height: 70px;
  }
  .text-name{
    font-size: 20px;
  }
  .players{
    font-size: 16px;
  }
}
