
<section>
<h3> Parciais </h3>

<table class="table table-responsive col-md-10">
  <thead>
    <th><span class="pos-header">Posicao</span><span class="pos-mobile">#</span></th>
    <th colspan="2" class="text-center">Jogador</th>
    <th class="text-center"></th>
    <th class="text-center">Pontos</th>
  </thead>
  <tbody>
    <tr *ngFor="let partial of partials; let i = index"
      class="text-left partial-details"
      (click)="getPartialItem(partial)">

      <td class="position-text">{{ i+1 }}</td>
      <td class="symbol"><img src="{{ partial.team_symbol }}" alt="simbolo"/></td>
      <td>
        <span class="player text-center text-{{ partial.battle_class }}">{{ partial.team_name }} <span class="player-name">({{ partial.player_name }})</span> </span> <span class="opponent-name"> vs {{ partial.battle_opponent }} ({{ partial.diff_points | number : '1.2-2' }})</span>
      </td>
      <td class="players text-center">{{ partial.players }}/12 <span class="players_remaining">jogadores</span></td>
      <td class="score text-center">{{ partial.partial_score | number : '1.2-2' }}</td>
    </tr>
  </tbody>
</table>
