<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg navbar-dark" style="background-color: #008271;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- root link -->
  <a class="navbar-brand" routerLink="/app-dispute-month-list" href="#">
    <img src="/assets/images/logo.png" alt="Cartola PGE">
    <strong>CARTOLA PGE</strong>
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/app-award" href="#">Premiações</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/app-dispute-month-list" href="#">Disputas Mensais</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/app-league-list" href="#">Copa da Liga</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/app-season-score-list" href="#">Turnos/Campeonato</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/app-battle-list" href="#">Confrontos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/app-currency-list" href="#">Patrimônio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/app-partial-list" href="#">Parciais</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/app-rules" href="#">Regras</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container container-main">
  <router-outlet></router-outlet>
</div>
