<div class="row justify-content-center champions">
  <div class="col-md-4 text-center">
    <img class="" src="assets/images/camp_podium.png" alt="Campeonato" class="title_image"/>
    <app-winner-item [winners]="championship.championship">
    </app-winner-item>
  </div>
</div>

<div class="row justify-content-center half-champions">
  <div class="col-md-4 text-center">
    <img src="assets/images/1_podium.png" alt="Campeonato" class="title_image" />
    <app-winner-item [winners]="championship.first_turn">
    </app-winner-item>
  </div>

  <div class="col-md-1"></div>

  <div class="col-md-4 text-center">
    <img src="assets/images/2_podium.png" alt="Campeonato" class="title_image"/>
    <app-winner-item [winners]="championship.second_turn">
    </app-winner-item>
  </div>
</div>
