<div class="row justify-content-center">
  <div class="col-md-4">
    <h4> Campeonato:</h4>
    <app-winner-item [winners]="championship.championship">
    </app-winner-item>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-4">
    <h4> Primeiro turno</h4>
    <app-winner-item [winners]="championship.first_turn">
    </app-winner-item>
  </div>

  <div class="col-md-4">
    <h4> Segundo turno</h4>
    <app-winner-item [winners]="championship.second_turn">
    </app-winner-item>
  </div>
