<div class="monthly_wrapper">
  <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" *ngFor="let month of months">
      <div
        (click)="setActive(month.id)"
        [ngClass]="{'active' : isActive(month.id)}"
        class="nav-link button-pills"
        data-toggle="pill"
        role="tab">{{month.name}}
      </div>
    </li>
  </ul>

  <div class="tab-content" *ngFor="let month of months">
    <div
      [ngClass]="{'active show' : isActive(month.id)}"
      class="tab-pane fade"
      role="tabpanel"
      [attr.aria-labelledby]="label(month.id)">
        <div *ngIf="isActive(month.id)">
          <app-awards [awards]="month.awards"> </app-awards>
        </div>
    </div>
  </div>
</div>
