* {
  outline: none;
}
/*Font Smoothing*/
body,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p,
.navbar,
.brand,
.alert,
a,
td {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 12px;
}
a {
  color: #008271;
}
a:hover, a:active, a:focus {
  color: #008271;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-weight: 300;
  color: #008271;
}
h1, .h1 {
  font-size: 52px;
}
h2, .h2 {
  font-size: 36px;
}
h3, .h3 {
  font-size: 28px;
}
h4, .h4 {
  font-size: 18px;
}
h5, .h5 {
  font-size: 16px;
  color: #9A9A9A;
}
h6, .h6 {
  font-size: 14px;
}
p {
  font-size: 14px;
  line-height: 1.5;
}
hr.div-row {
  border: 0;
  height: 1px;
  background: #333;
  background-image:
  linear-gradient(to right, #eee, #d6d6d6, #eee);
}
/*navbar config*/
.navbar {
  padding: 0 !important;
}
.navbar-brand {
  background-color: #00a38e;
  padding: 1em 1.5rem;
  display: block;
  line-height: 30px;
}
/*body/container config*/
.container-main{
  margin-top: 120px;
  margin-bottom: 90px;
}
.container{
  width: 100%;
}

/*loader config*/
.loader {
  position:absolute;
	left:50%;
	top:50%;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
}
svg path, svg rect {
  fill: #ffffff;
}
.loading-bg {
  background: url(./~/assets/images/loading_bg.jpg) no-repeat fixed;
  background-position:top;
  background-size: cover;
  height: 891px;
  overflow-y: auto;
  overflow: hidden;
}

/*navpills config*/
.nav-pills .nav-link {
  background-color: #fafafa;
  margin: 0 2px;
}
.nav-pills .nav-link.active, .show > .nav-pills .nav-link {
  background-color: transparent;
  color: #8c9492;
  padding: 0 10px;
  line-height: 30px;
  display: block;
  border: 2px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, #3acfd5 0%, #008271 100%);
    -webkit-border-image: -webkit-linear-gradient(top left, #3acfd5 0%, #008271 100%);
    border-image: linear-gradient(to bottom right, #3acfd5 0%, #008271 100%);

    border-image-slice: 1;
}

/*table config */
.card-detail-month {
  float: left;
  margin: 5px 4px;
  border-radius: 30px;
  min-width: 245px;
}
.card-detail-league {
  float: left;
  margin: 5px 4px;
  border-radius: 3px;
  min-width: 330px;
  max-width: 330px;
}
td {
  vertical-align: middle !important;
}
th {
  border-top: none;
}
tr td.position strong{
  font-weight: bold;
  font-size: 18px;
  padding-left: 15px;
}
tr td.symbol {
  padding-left: 45px;
  width: 35px;
}
tr th.symbol-player {
  padding-left: 45px;
}
tr td.symbol img{
  height: 35px;
}
img.symbol-player {
  height: 35px;
}
tr td.position{
  width: 70px;
}
tr td.player::after {
}
tr td.player span.team_name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  color: #a4a4a4;
}
tr td.points {
  font-size: 16px;
  font-weight: bold;
  color: #a4a4a4;
}
tr td.more {
  background-color: #f9f9f9;
  width: 80px;
}
td.more:hover a.collapse-link {
  color: #fafafa !important;
}
tr td.more:hover i {
  color: #fafafa;
}

tr td.more:hover ,
tr td.more:active,
tr td.more:focus {
  color: #fafafa;
  border-top: 2px solid #00A38E;
  border-bottom: 2px solid #00A38E;
  background-color: #00A38E;
  cursor: pointer;
  width: 65px;
  z-index: 999999;
}
tr td.active {
  cursor: pointer;
  border-top: 2px solid #00A38E;
  border-bottom: 2px solid #00A38E;
  background-color: #00A38E !important;
  width: 65px;
  z-index: 999999;
  color: #fafafa;
}
tr td.detail {
  padding: 15px 75px 25px;
  background-color: #eee;
}
tr td.detail span {
  font-weight: bold;
  text-transform: uppercase;
  color: #afafaf;
}
.symbol-detail img {
  height: 80px;
  filter: grayscale(100%);
  opacity: 0.2;
}
/*first row color*/
.bg-1 {
  background-color: #f2f2f2;
}
/*second and third row color*/
.bg-2, .bg-3, .bg-4 {
  background-color: #fafafa;
}
/*1st*/
.position-1 {
  color: transparent;
}
.position-1::before {
  margin-top: 8px;
  margin-bottom: -20px;
  content:'';
  background: url(./~/assets/images/1st.png) no-repeat;
  height: 50px;
  width: 55px;
  float: left;
}
/*2nd*/
.position-2 {
  color: transparent;
}
.position-2::before {
  margin-top: 8px;
  margin-bottom: -20px;
  content:'';
  background: url(./~/assets/images/2nd.png) no-repeat;
  height: 50px;
  width: 55px;
  float: left;
}
/*3rd*/
.position-3 {
  color: transparent;
}
.position-3::before {
  margin-top: 8px;
  margin-bottom: -20px;
  content:'';
  background: url(./~/assets/images/3rd.png) no-repeat;
  height: 50px;
  width: 55px;
  float: left;
}

.position-4 {
  color: transparent;
}
.position-4::before {
  margin-top: 8px;
  margin-bottom: -20px;
  content:'';
  background: url(./~/assets/images/4th.png) no-repeat;
  height: 50px;
  width: 55px;
  float: left;
}
/*lantern*/
.lil-flashlight {
  color: transparent;
}
.lil-flashlight::before {
  margin-left: 7px;
  content:'';
  background: url(./~/assets/images/lantern.png) no-repeat;
  height: 50px;
  width: 50px;
  float: left;
}
/*td points 1st/2nd/3rd*/
.points-1, .points-2, .points-3 {
  color: #008271 !important;
}
/*td points lantern*/
.points-lil-flashlight {
  color: #f63b00 !important;
}

/*card-league-item*/
.fx-wrap {
  padding: 3px;
}
.fx-wrap .card {
  width: 324px;
  height: 150px;
}
.fx-wrap .card>.front {
  box-shadow: 0 1px 3px rgba(0,0,0,0.07), 0 1px 2px rgba(0,0,0,0.14);
  position: absolute;
  left: 0;
  right: 0;
  top: 10;
  bottom: 0;
  border-radius: 4px;
  background-color: #fff;
}
.fx-wrap .card>.front:before{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-image: linear-gradient(135deg, rgba(238,238,238,0) 0%, rgba(255,255,255,0) 36%, rgba(255,255,255,0.4) 36%, rgba(255,255,255,0.4) 68%, rgba(247,247,247,0) 69%, rgba(238,238,238,0) 70%);
  background-repeat: no-repeat;
  background-position: 324px 0;
  pointer-events: none;
  z-index: 20;
}
.fx-wrap .card>.front>*{
  height: 100%;
}
.fx-wrap .card>.front .image{
  float: left;
}
.fx-wrap .card>.front .text{
  margin-top: 15px;
}
.fx-wrap .card>.front .image,
.fx-wrap .card>.front .image img{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-size: cover;
  width: 90px;
  background-color: #f5f5f5;
  position: relative;
}
.fx-wrap .card>.front .image .heading{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 10px;
  font-size: 1em;
  text-align: right;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.fx-wrap .card>.front .text {
  text-transform: uppercase;
}
.fx-wrap .card>.front .text .label-rounds{
  font-size: 14px;
  padding-bottom: 5px;
  color: #b9b9b9;
}
.fx-wrap .card>.front .text .label-rounds strong{
  color: #777777;
}
.fx-wrap .card>.front .text .label-points{
  color: #b9b9b9;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.fx-wrap .card>.front .text .label-vs{
  padding-top: 8px;
  color: #777777;
}
.fx-wrap .card>.front .text .label-team{
  color: #bababa;
  font-weight: bold;
}
.victory{
  color: #77ccff !important;
}
.lose{
  color: #ee7f84 !important;
}
.draw{
  color: #ffb27f !important;
}
.draw-label {
  color: #979797 !important;
}
.fx-wrap .card>.front {
  z-index: 2;
  transform: rotateY(0deg);
}
