<hr class="div-row">
<section>
  <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" *ngFor="let currency of currencies">
      <a
      (click)="setActive(currency.id)"
      [ngClass]="{'active' : currency.id === currencies[0].id}"
      class="nav-link"
      [id]="label(currency.id)"
      data-toggle="pill"
      href="#pills_{{currency.id}}"
      role="tab"
      [attr.aria-controls]="tag(currency.id)"
      [attr.aria-expanded]="false">{{currency.name}}
      </a>
    </li>
  </ul>

  <div class="tab-content" *ngFor="let currency of currencies">
    <div
    [ngClass]="{'active show' : currency.id == currencies[0].id}"
    class="tab-pane fade"
    [id]="tag(currency.id)"
    role="tabpanel"
    [attr.aria-labelledby]="label(currency.id)">

      <div *ngIf="isActive(currency.id, currencies)">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Posição</th>
              <th colspan="2" class="symbol-player">Time</th>
              <th>Cartoletas</th>
              <th class="text-center">Mais</th>
            </tr>
          </thead>
          <tbody *ngFor="let t of currency.teams; let i = index" [team]="t" [i] = "i" [last]="i+1 == currency.teams.length "></tbody>
        </table>
      </div>

    </div>
  </div>
</section>
